In [ ]:
import pandas as pd
faa_df = pd.read_csv("faa.csv")


print("First 5 rows:")
display(faa_df.head())


print("\nDataset Info:")
print(faa_df.info())

print("\nMissing Values:")
print(faa_df.isnull().sum())

First 5 rows:

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UPDATED              83 non-null     object
 1   ENTRY_DATE           83 non-null     object
 2   EVENT_LCL_DATE       83 non-null     object
 3   EVENT_LCL_TIME       83 non-null     object
 4   LOC_CITY_NAME        83 non-null     object
 5   LOC_STATE_NAME       83 non-null     object
 6   LOC_CNTRY_NAME       2 non-null      object
 7   RMK_TEXT             83 non-null     object
 8   EVENT_TYPE_DESC      83 non-null     object
 9   FSDO_DESC            81 non-null     object
 10  REGIST_NBR           83 non-null     object
 11  FLT_NBR              6 non-null      object
 12  ACFT_OPRTR           7 non-null      object
 13  ACFT_MAKE_NAME       78 non-null     object
 14  ACFT_MODEL_NAME      79 non-null     object
 15  ACFT_MISSING_FLAG    0 non-null      float64
 16  ACFT_DMG_DESC        74 non-null     object
 17  FLT_ACTIVITY         13 non-null     object
 18  FLT_PHASE            82 non-null     object
 19  FAR_PART             1 non-null      float64
 20  MAX_INJ_LVL          19 non-null     object
 21  FATAL_FLAG           8 non-null      object
 22  FLT_CRW_INJ_NONE     64 non-null     float64
 23  FLT_CRW_INJ_MINOR    6 non-null      float64
 24  FLT_CRW_INJ_SERIOUS  1 non-null      float64
 25  FLT_CRW_INJ_FATAL    8 non-null      float64
 26  FLT_CRW_INJ_UNK      0 non-null      float64
 27  CBN_CRW_INJ_NONE     0 non-null      float64
 28  CBN_CRW_INJ_MINOR    0 non-null      float64
 29  CBN_CRW_INJ_SERIOUS  0 non-null      float64
 30  CBN_CRW_INJ_FATAL    0 non-null      float64
 31  CBN_CRW_INJ_UNK      1 non-null      float64
 32  PAX_INJ_NONE         17 non-null     float64
 33  PAX_INJ_MINOR        1 non-null      float64
 34  PAX_INJ_SERIOUS      3 non-null      float64
 35  PAX_INJ_FATAL        1 non-null      float64
 36  PAX_INJ_UNK          0 non-null      float64
 37  GRND_INJ_NONE        0 non-null      float64
 38  GRND_INJ_MINOR       0 non-null      float64
 39  GRND_INJ_SERIOUS     0 non-null      float64
 40  GRND_INJ_FATAL       0 non-null      float64
 41  GRND_INJ_UNK         1 non-null      float64
dtypes: float64(22), object(20)
memory usage: 27.4+ KB
None

Missing Values:
UPDATED                 0
ENTRY_DATE              0
EVENT_LCL_DATE          0
EVENT_LCL_TIME          0
LOC_CITY_NAME           0
LOC_STATE_NAME          0
LOC_CNTRY_NAME         81
RMK_TEXT                0
EVENT_TYPE_DESC         0
FSDO_DESC               2
REGIST_NBR              0
FLT_NBR                77
ACFT_OPRTR             76
ACFT_MAKE_NAME          5
ACFT_MODEL_NAME         4
ACFT_MISSING_FLAG      83
ACFT_DMG_DESC           9
FLT_ACTIVITY           70
FLT_PHASE               1
FAR_PART               82
MAX_INJ_LVL            64
FATAL_FLAG             75
FLT_CRW_INJ_NONE       19
FLT_CRW_INJ_MINOR      77
FLT_CRW_INJ_SERIOUS    82
FLT_CRW_INJ_FATAL      75
FLT_CRW_INJ_UNK        83
CBN_CRW_INJ_NONE       83
CBN_CRW_INJ_MINOR      83
CBN_CRW_INJ_SERIOUS    83
CBN_CRW_INJ_FATAL      83
CBN_CRW_INJ_UNK        82
PAX_INJ_NONE           66
PAX_INJ_MINOR          82
PAX_INJ_SERIOUS        80
PAX_INJ_FATAL          82
PAX_INJ_UNK            83
GRND_INJ_NONE          83
GRND_INJ_MINOR         83
GRND_INJ_SERIOUS       83
GRND_INJ_FATAL         83
GRND_INJ_UNK           82
dtype: int64

In [ ]:

faa_df['EVENT_DATETIME'] = pd.to_datetime(
    faa_df['EVENT_LCL_DATE'] + ' ' + faa_df['EVENT_LCL_TIME'],
    errors='coerce',
    format='%d-%b-%y %H:%M:%SZ'
)
display(faa_df[['EVENT_LCL_DATE', 'EVENT_LCL_TIME', 'EVENT_DATETIME']].head())

  EVENT_LCL_DATE EVENT_LCL_TIME      EVENT_DATETIME
0      19-FEB-16      00:45:00Z 2016-02-19 00:45:00
1      18-FEB-16      23:55:00Z 2016-02-18 23:55:00
2      18-FEB-16      22:14:00Z 2016-02-18 22:14:00
3      18-FEB-16      17:10:00Z 2016-02-18 17:10:00
4      18-FEB-16      00:26:00Z 2016-02-18 00:26:00

In [ ]:

required_columns = [
    'ACFT_MAKE_NAME',    
    'LOC_STATE_NAME',     
    'ACFT_MODEL_NAME',    
    'RMK_TEXT',           
    'FLT_PHASE',          
    'EVENT_TYPE_DESC',    
    'FATAL_FLAG'          
]

faa_selected = faa_df[required_columns].copy()
display(faa_selected.head())

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN

In [ ]:

faa_selected['FATAL_FLAG'] = faa_selected['FATAL_FLAG'].fillna('No')

print("Missing values in Fatal Flag after replacement:", faa_selected['FATAL_FLAG'].isnull().sum())
display(faa_selected.head())

Missing values in Fatal Flag after replacement: 0

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,Noo
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,Noo
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,Noo
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,Noo

In [ ]:

print("Before filling:")
print("FLT_PHASE mode:", faa_df['FLT_PHASE'].mode()[0])
print("ACFT_DMG_DESC mode:", faa_df['ACFT_DMG_DESC'].mode()[0])

print("\nValue counts before filling:")
print(faa_df['FLT_PHASE'].value_counts(dropna=False).head())
print(faa_df['ACFT_DMG_DESC'].value_counts(dropna=False).head())


faa_df['FLT_PHASE'].fillna(faa_df['FLT_PHASE'].mode()[0], inplace=True)
faa_df['ACFT_DMG_DESC'].fillna(faa_df['ACFT_DMG_DESC'].mode()[0], inplace=True)


print("\nMissing values after filling with mode:")
print(faa_df[['FLT_PHASE', 'ACFT_DMG_DESC']].isnull().sum())
print("\nValue counts after filling:")
print(faa_df['FLT_PHASE'].value_counts().head())
print(faa_df['ACFT_DMG_DESC'].value_counts().head())

Before filling:
FLT_PHASE mode: LANDING (LDG)
ACFT_DMG_DESC mode: Unknown

Value counts before filling:
FLT_PHASE
LANDING (LDG)     44
UNKNOWN (UNK)     13
TAXI (TXI)        10
TAKEOFF (TOF)      6
STANDING (STD)     3
Name: count, dtype: int64
ACFT_DMG_DESC
Unknown        37
Minor          20
Substantial    15
Destroyed       6
Name: count, dtype: int64

Missing values after filling with mode:
FLT_PHASE        0
ACFT_DMG_DESC    0
dtype: int64

Value counts after filling:
FLT_PHASE
LANDING (LDG)     44
UNKNOWN (UNK)     13
TAXI (TXI)        10
TAKEOFF (TOF)      6
STANDING (STD)     3
Name: count, dtype: int64
ACFT_DMG_DESC
Unknown        37
Minor          20
Substantial    15
Destroyed       6
Name: count, dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_25872\2085711633.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  faa_df['FLT_PHASE'].fillna(faa_df['FLT_PHASE'].mode()[0], inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_25872\2085711633.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  faa_df['ACFT_DMG_DESC'].fillna(faa_df['ACFT_DMG_DESC'].mode()[0], inplace=True)

In [ ]:

faa_df = faa_df.dropna(subset=['ACFT_MAKE_NAME'])

# Task: Drop columns with more than 75 missing values
faa_df = faa_df.dropna(axis=1, thresh=len(faa_df) - 75)


print("Number of observations after cleaning:", len(faa_df))

Number of observations after cleaning: 78

In [8]:
# Task: Group the dataset by aircraft name and view counts
aircraft_counts = faa_df.groupby('ACFT_MAKE_NAME').size().reset_index(name='Count')

print("Number of times each aircraft type appears in the dataset:")
display(aircraft_counts)

Number of times each aircraft type appears in the dataset:

            ACFT_MAKE_NAME  Count
0           AERO COMMANDER      1
1                  AERONCA      1
2   AEROSTAR INTERNATIONAL      1
3                   AIRBUS      1
4                    BEECH      9
5                     BELL      2
6                   BOEING      3
7                   CESSNA     23
8                 CHAMPION      2
9                 CHRISTEN      1
10     CONSOLIDATED VULTEE      1
11                 EMBRAER      1
12                 ENSTROM      1
13               FAIRCHILD      1
14           FLIGHT DESIGN      1
15                   GLOBE      1
16             GREAT LAKES      1
17                 GRUMMAN      1
18              GULFSTREAM      1
19                  HUGHES      1
20                 LANCAIR      2
21                   MAULE      1
22                  MOONEY      4
23          NORTH AMERICAN      1
24                   PIPER     10
25                   PITTS      1
26                    SAAB      1
27              SABRELINER      1
28                  SOCATA      2
29                    VANS      1

In [10]:
# Task: Display observations where Fatal Flag is "Yes"
fatal_yes = faa_df[faa_df['FATAL_FLAG'].str.strip().str.upper() == 'YES']
print("Observations with Fatal Flag = 'Yes':")
display(fatal_yes)

Observations with Fatal Flag = 'Yes':

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,REGIST_NBR,...,FLT_ACTIVITY,FLT_PHASE,MAX_INJ_LVL,FATAL_FLAG,FLT_CRW_INJ_NONE,FLT_CRW_INJ_MINOR,FLT_CRW_INJ_FATAL,PAX_INJ_NONE,PAX_INJ_SERIOUS,EVENT_DATETIME
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,N61WB,...,NaN,UNKNOWN (UNK),Fatal,Yes,NaN,NaN,1.0,NaN,NaN,2016-02-19 00:45:00
53,No,12-FEB-16,11-FEB-16,11:32:00Z,DESTIN,Florida,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,Accident,NaN,N2209W,...,NaN,UNKNOWN (UNK),Fatal,Yes,NaN,NaN,1.0,NaN,NaN,2016-02-11 11:32:00
55,No,11-FEB-16,11-FEB-16,00:17:00Z,TULARE,California,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,Accident,FAA Fresno FSDO-17,N911TS,...,Other,UNKNOWN (UNK),Fatal,Yes,NaN,NaN,2.0,NaN,NaN,2016-02-11 00:17:00
79,No,08-FEB-16,05-FEB-16,11:17:00Z,MARICOPA,Arizona,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident,FAA Scottsdale FSDO-07,N551JP,...,NaN,UNKNOWN (UNK),Fatal,Yes,NaN,NaN,2.0,NaN,NaN,2016-02-05 11:17:00
80,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,N5057G,...,NaN,UNKNOWN (UNK),Fatal,Yes,NaN,NaN,1.0,NaN,NaN,2016-02-05 23:02:00
81,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,N9872R,...,NaN,UNKNOWN (UNK),Fatal,Yes,NaN,NaN,2.0,NaN,NaN,2016-02-05 23:02:00
82,Yes,02-FEB-16,02-FEB-16,01:52:00Z,MOBILE,Alabama,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident,FAA Birmingham FSDO-09,N784CP,...,NaN,UNKNOWN (UNK),Fatal,Yes,NaN,NaN,2.0,NaN,NaN,2016-02-02 01:52:00

In [11]:
# Task: One-hot encode ACFT_DMG_DESC column
acft_dmg_encoded = pd.get_dummies(faa_df['ACFT_DMG_DESC'], prefix='DMG', drop_first=True)

# Merge encoded columns into dataframe
faa_df = pd.concat([faa_df, acft_dmg_encoded], axis=1)

print("Columns after one-hot encoding:")
print(faa_df.columns.tolist())

Columns after one-hot encoding:
['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME', 'LOC_CITY_NAME', 'LOC_STATE_NAME', 'RMK_TEXT', 'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR', 'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'MAX_INJ_LVL', 'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR', 'FLT_CRW_INJ_FATAL', 'PAX_INJ_NONE', 'PAX_INJ_SERIOUS', 'EVENT_DATETIME', 'DMG_Minor', 'DMG_Substantial', 'DMG_Unknown']

advance task

In [12]:
# Task: Create new feature FLIGHT_PHASE_TEXT from RMK_TEXT using keywords

# Define keywords for flight phases
phase_keywords = {
    'LANDING': 'LANDING',
    'TAKEOFF': 'TAKEOFF',
    'CRUISE': 'CRUISE',
    'APPROACH': 'APPROACH'
}

# Function to extract flight phase from RMK_TEXT
def extract_flight_phase(text):
    if pd.isnull(text):
        return 'UNKNOWN'
    text_upper = text.upper()
    for keyword, phase in phase_keywords.items():
        if keyword in text_upper:
            return phase
    return 'UNKNOWN'

# Apply extraction to create FLIGHT_PHASE_TEXT
faa_df['FLIGHT_PHASE_TEXT'] = faa_df['RMK_TEXT'].apply(extract_flight_phase)

# Compare with existing FLT_PHASE
print("Comparison of FLT_PHASE vs FLIGHT_PHASE_TEXT:")
display(faa_df[['FLT_PHASE', 'FLIGHT_PHASE_TEXT']].head())

Comparison of FLT_PHASE vs FLIGHT_PHASE_TEXT:

        FLT_PHASE FLIGHT_PHASE_TEXT
0   UNKNOWN (UNK)           UNKNOWN
1   LANDING (LDG)           LANDING
2  APPROACH (APR)           UNKNOWN
3   LANDING (LDG)           LANDING
4   LANDING (LDG)           LANDING